:root {
  --font-color: #E4DEED;
  --color1: rgb(0,0,0);
  --color2: rgb(31,24,34);
  --color3: rgb(48,27,40);
}

a {
  display:block;
}

body {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 73%, var(--color3) 100%);
  color: var(--font-color);
}

.column1 {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  height: 100vh;
}

.column2 {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

nav {
  text-align: center;
}

footer {
  text-align: center;
}

footer>span{
  vertical-align: bottom;
}

main {
  overflow-y: scroll;
}

header,
nav,
main,
footer {
  padding: 2em;
}

section {
  padding: 1em;
}

header>h1{
  margin-bottom:0px;
}

h1+p {
  margin-top:0px;
}

.title {
  font-size: 4em;
}

.dot {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--font-color);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.glyph {
  padding: 4px;
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align:bottom !important;
  align-items:center;
}
